<header class="homepage">

	<div class="title">Flipster</div>

</header>

<div class="listcontainer">

	<div class="game-list">
		<% for (var i in games) { %>
		<a href="/games/<%= games[i]['id'] %>/join" class="button"><%= games[i].players[0].username %> </a>
		<% } %>
	</div>


	<a href="/games/create" class="button">New game!</a>

</div>

<footer>Created by: Matteo Wiley
</footer> 

<script>
var gameListingTemplate = [
	'<a href="/games/{{= id }}/join" class="button">',
		'{{= players[0].username }}',
	'</a>'
].join('');
var socket = io.connect('http://0.0.0.0:1337/');
socket.on('games/newGame', function(game) {
	var template = _.template(gameListingTemplate);
	var compiled = template(game);
	$('.game-list').append(compiled);
});
</script>

