<a href="https://api.instagram.com/oauth/authorize/?client_id=804e7e685284431e846b2ef7035afbd6&redirect_uri=http://10.10.10.10:1337/callback&response_type=token">link text</a>
<script>
if (window.location.hash.length > 0) {
	// var igCode = window.location.hash.replace('#', '');
	// $.ajax({
	// 	url: '/signin/init',
	// 	data: {
	// 		igCode: igCode
	// 	},
	// 	success: function(data) {
	// 		console.log('yay', data);
	// 	}
	// })
}
// $.ajax({
// 	url: '/game/new',
// 	data: {
// 		game: {
// 			players: 2,
// 			photos: 10,
// 			url: 'xyz'
// 		}
// 	},
// 	success: function(data) {
// 		console.log(data);
// 	}
// });
</script>