<header class="homepage">

<div class="title">Flipster</div>

<div class="subtitle">the game of memory with a social media twist</div>

</header>
<div class="buttoncontainer">
<a href="https://api.instagram.com/oauth/authorize/?client_id=804e7e685284431e846b2ef7035afbd6&redirect_uri=http://0.0.0.0:1337/callback&response_type=token" class="button start">Lets Play</a>
</div>
<footer>Created by: Matteo Wiley
</footer> 
